<div id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="">
                <h1 align="center"> Have a Look at {{model.seller.userName}}s' Profile</h1>
            </div>
        </div>
    </div>
</div><!--/#title-->

<p>&nbsp;</p>

<div ng-repeat="menu in model.allMenu" class="col-sm-12">
    <div class="media">
        <div class="media-body">
            <div class="well">
                <div class="media-heading col-sm-4">{{menu.item}}</div>
                <div class="col-sm-4">{{menu.costPerItem}}</div>
                <div class="col-sm-4 " ng-click="model.addToCart(menu.item,menu.costPerItem)">Add To Cart</div>
            </div>
        </div>
    </div>
</div>


<div ng-if="model.users.length != 0">
    <div ng-repeat="review in model.reviews" class="col-sm-6">
        <div class="media">
            <div class="pull-left">
                <img class="avatar img-circle" src="images/blog/avatar1.png" />
            </div>
            <div class="media-body">
                <div class="well">
                    <a class="reviewName media-heading" href="#/seller/{{review.reviewMadeById}}"><h3>{{review.reviewMadeByName}}</h3></a>
                    <p class="reviewDescription">{{review.reviewDescription}}</p>
                    <a href="" ng-click="model.deleteReview(review._id, review.reviewMadeById)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <h3 align="center">Leave a review for {{model.seller.firstName}}</h3>
    <textarea id="textareaEdit" maxlength="200" ng-model="model.reviewDescription"></textarea>
    <span>Max length 200 letters</span>
    <button ng-click="model.addToReview()" class="form-control btn btn-info">Add a review</button>
</div>
<!--<div class="reviewHeaderEdit">
    Your Review Awaits
</div>-->
