<h1>Forms</h1>

<div ng-controller="FieldController">
    <div>
        <nav>
            <ul id="tab" class="nav nav-tabs">
                <li role="presentation"><a href="#/form">Forms</a></li>
                <li role="presentation"><a href="#/form-fields">Fields</a></li>
            </ul>
        </nav>
    </div>
    <br><br><br>
    <div class="adjust" ng-init="findFields()">
        <form class="form-horizontal">
            <div ng-repeat="field in fields">
                <ng-switch on="field.type" ng-model="field.type">

                    <div class="form-group" ng-switch-when="FNAME">
                        <label for="first name" class="col-sm-2">{{field.label}}</label>
                        <div>
                            <input class="col-sm-3"
                                   id="firstname" placeholder={{field.placeholder}}
                                   title="please enter your First Name" name="first name"
                                   type="text" />

                            <div class="col-sm-1"></div>
                            <a href="#" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#" class="btn btn-warning">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a ng-click="removeField(field.id)" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                            </a>
                        </div>
                    </div>

                    <div class="form-group" ng-switch-when="LNAME">
                        <label for="last name" class="col-sm-2">{{field.label}}</label>

                        <input class="col-sm-3"
                               id="firstName" placeholder="{{field.placeholder}}"
                               title="please enter your Last Name" name="last name" type="text" />

                        <div class=col-sm-1></div>
                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a ng-click="removeField(field.id)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                        </a>

                    </div>

                    <div class="form-group" ng-switch-when="DOB">
                        <label for="dob" class="col-sm-2 ">Date of birth:</label>

                        <input class="col-sm-3"
                               id="dob" title="please enter your First Name" name="first name"
                               type="date" placeholder="Select Date" />

                        <div class=col-sm-1></div>
                        <a href="#"
                           class="btn btn-danger">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a> <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a> <a ng-click="removeField(field.id)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a> <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                        </a>
                    </div>

                    <div class="form-group" ng-switch-when="OPTIONS">
                        <label for="gender" class="col-sm-2 ">{{field.label}}</label>
                        <select class="col-sm-3"
                                name="genre" id="gender">
                            <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
                        </select>
                        <div class="col-sm-1"></div>
                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a> <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a> <a ng-click="removeField(field.id)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a> <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                        </a>

                    </div>

                    <div class="form-group" ng-switch-when="RADIOS">
                        <label for="radio" class="col-sm-2 ">{{field.label}}</label>
                        <label>
                            <input type="radio" name="{{field.label}}+{{field.id}}" value="yes"
                                   id="radio" /> Yes
                        </label>


                        <div class="col-sm-1"></div>
                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                        <a ng-click="removeField(field.id)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                        </a>
                    </div>

                    <div class="form-group  add-border" ng-click="CHECKBOXES">
                        <label for="checkboxes" class="col-sm-2">{{field.label}}</label>

                        <div class="col-sm-3" ng-repeat="option in field.options">
                            <div ng-repeat="option in field.options">
                                <input class="form-control" id="check" type="checkbox" name="{{field.label}}+{{field.id}}" />{{option.label}}
                            </div>
                        </div>

                        <div class="col-sm-1"></div>
                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>

                        <a href="#" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>

                        <a ng-click="removeField(field.id)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a>

                        <a href="#" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                        </a>

                    </div>
                </ng-switch>
            </div>
            <div>
                <label for="new field" class="col-sm-2">Add New Field:</label>

                <select class="col-sm-3 form-control"
                        name="new field" id="new field" ng-model="field.type">
                    <option value="Single Line Text">Single Line Text</option>
                    <option value="Date">Date</option>
                    <option value="Dropdown">Dropdown</option>
                    <option value="Checkboxes">Checkboxes</option>
                    <option value="RAdio Buttons">Radio Buttons</option>
                    <option value="Paragraph Text Field">Paragraph Text Field</option>

                </select>

                <div class="col-sm-1"></div>
                <a ng-click="addField(fieldType)" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-plus cpl-sm-2"></scan>
                </a>

            </div>

        </form>
    </div>
</div>