<!DOCTYPE html>

<html ng-app="WhiteBoardApp">

<head>

    <title></title>


    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


    <script src="app.js"></script>

    <script scr="MainController.js"></script>

    <script src="configure.js"></script>


</head>

<body ng-controller="MainController">
    <div class="container" ng-controller="HelloWorldController">
        <h1>Hello from angularJS Testing</h1>
        {{hello}}

        <input ng-model="courseName" placeholder="Course Name" class="form-control" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Seats</th>
                    <th>Starts</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in courses">
                    <td>{{course.title}}</td>
                    <td>{{course.seats}}</td>
                    <td>{{course.starts |date }}</td>
                    <td>
                        <button ng-click="removeCourse(course)" class="btn btn-danger">Remove</button>

                    </td>
                </tr>
                courses
            </tbody>


        </table>

        <h2>{{courseName}}</h2>
        <p>
            {{user}}

        </p>


        <ul>

            <li>FirstName: {{user.fname}}</li>

            <li>LastName: {{user.lname}}</li>


        </ul>


    </div>

</body>

</html>