<h1>{{model.seller.userName}}</h1>

<div>

</div>
<h3>{{model.seller.userName}} Recipe's</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>



    </thead>

    <tbody>
        <tr ng-repeat="reciepe in model.allRecipies">
            <td>
                {{reciepe.reciepeName}}
            </td>
            <td>
                {{reciepe.reciepeDescription}}
            </td>
        </tr>
    </tbody>

</table>

<div id="body-image">
    <img src="views/images/homecooked5.jpg" alt="Event">
</div>