<!--This is the base HomePage which is controlled by HomeController, that is any event on this page
    is handeled by HomeController-->

<div ng-controller="HomeController">
    <h1>Welcome !</h1>
    <br /> <br />

    <!--This part defines the type of search you want to make, that is you want to search web,images
        videos, news etc-->

    <ul class="nav navbar-nav home-nav">
        <li class="category"><a href="#/" ng-click="web()"><span class="categoryName">Web</span></a></li>
        <li class="category categoryImages">
            <a href="#/" ng-click="images()"><span class="categoryName">Images</span></a>
        </li>
        <li class="category categoryVideo">
            <a href="#/" ng-click="video()"><span class="categoryName">Video</span></a>
        </li>
        <li class="category categoryNews">
            <a href="#/" ng-click="news()"><span class="categoryName">News</span></a>
        </li>
    </ul><br /><br /><br />

    <!--In this part you can write your search query and filter your search based on location
        and time of year and hit search which hits the WebServer and get relavent data.-->

    <div class="row">
        <div class="col-sm-4">
            <input ng-model="searchQuery" class="form-control form-horizontal" type="text" placeholder="Search" />
        </div>

        <div class="col-sm-4">
            <form>
                <div class="form-group">
                    <label for="filter">Filter Your Search By</label>
                    <select id="filter" class="form-control" ng-model="fieldType1" placeholder="Region">
                        <option value="" selected disabled>Region</option>
                        <option value="Massachussets">Massachussets</option>
                        <option value="New york">New york</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="Illionis">Illionis</option>
                        <option value="Penssalvaniya">Penssalvaniya</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="filter" class="form-control" ng-model="fieldType2" placeholder="Region">
                        <option value="" selected disabled>Month</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
            </form>
        </div>
        
        <div class="col-sm-2">
            <a>
                <span ng-click="search(fieldType1, fieldType2)" class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>

    <!--To render the search results in table-->
    <table class="table table-striped">
        <thead>
            <tr ng-if="notify">
                <th>SerchResults</th>
            </tr>
            <tr ng-if="notify">
                <th>10,213 results found for your search</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in results track by $index">
                <td><a href="#/">{{result.title}}</a><br />{{result.snippet}} </td>
            </tr>
        </tbody>
    </table>

    <!--Login or Register to have refined search-->
    <div class="home-login">
        <a href="#/login" class="link-color">Login</a> <span class="change-color">to find more detailed data.</span><br />
        <span class="change-color">Not a User? <a href="#/register" class="link-color">Register</a></span>
    </div>
</div>




