<h1>{{model.seller.userName}}</h1>


<h3>{{model.seller.userName}} Recipe's</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            Recipe
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="reciepe in model.allRecipies">
            <td>
                <ul>
                    <li>
                        <h4>Recipe Name:</h4> {{reciepe.reciepeName}}
                    </li>
                    <li>
                        <h4>Description:</h4> {{reciepe.reciepeDescription}}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>

</table>

<div id="body-image">
    <img src="views/images/homecooked5.jpg" alt="Event">
</div>


