<div class="" ng-controller="UserbuyController">
    <form class="navbar-form navbar-left sellersAround">
        <div class="search_field">
            <label for="search">Search Cook using location</label>
            <input id="search" type="text" ng-model="searchQuery" googleplace class="form-control" placeholder="Search...">
            <div><a ng-click="findSeller()" class="btn btn-primary">Find</a></div>
        </div>
        <div>
            <label for="distance">Enter a distance for search</label>
            <input id="distance" type="text" ng-model="distance" class="form-control" placeholder="Distance...">
            <div><a ng-click="findForDistance()" class="btn btn-primary">Find</a> {{enterDistance}}</div>
        </div>
    </form>

    <div class="col-sm-8 map-edit" id="map" map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map center="{{where}}" zoom="10">

            <marker position="{{where}}"></marker>
            <div>
                <marker ng-repeat="user in users"
                        position="{{user.location.lat}},{{user.location.lng}}"
                        on-click="clickEventInfo(event,user)">
                </marker>
                <info-window id="map-event" position="{{mapEvent.location.lat}},{{mapEvent.location.lng}}">
                    <div ng-non-bindable="" style="width: 100%;">
                        <h4> <a href="#/seller/{{mapEvent._id}}">{{mapEvent.userName}} </a></h4>
                        <!--<div><i class="fa fa-location-arrow"></i> &nbsp; {{ mapEvent.venue_name }} </div>
                        <div><i class="fa fa-calendar"></i> &nbsp; {{ mapEvent.start_time  | dateInMillis | date: 'EEE, MMM dd yyyy, h:mm a'}} </div>
                        <div class="label label-success"> {{mapEvent.price}} </div>-->
                        <!--<div><span ng-repeat="cat in mapEvent.categories"><span class="label label-primary">{{cat.name | ampersand}}</span>   </span></div>-->
                    </div>
                </info-window>
            </div>
        </ng-map>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Food Suppliers around you</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td><a href="#/seller/{{user._id}}">{{user.userName}}</a> </td>
            </tr>
        </tbody>
    </table>
    <div id="body-image">
        <img src="views/images/homecooked5.jpg" alt="Event">
    </div>
</div>

