<div id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="">
                <h1>{{model.userInScope.userName}}s' Profile</h1>
                <h4>Find great cooks' around you.</h4>
            </div>
        </div>
    </div>
</div><!--/#title-->

<div class="col-sm-8 map-edit" map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map center="{{model.where}}" zoom="10">

        <marker position="{{model.where}}"></marker>
        <div>
            <marker ng-repeat="user in model.users"
                    position="{{user.location.lat}},{{user.location.lng}}"
                    on-click="model.clickEventInfo(event,user)">
            </marker>
        </div>
    </ng-map>
</div>


<div class="col-sm-4 map-edit">
    <form class="navbar-form navbar-left sellersAround">
        <div class="search_field">
            <label class="inputSearch" for="search">Search Cook using location</label>
            <input id="search" type="text" ng-model="model.searchQuery" googleplace class="form-control" placeholder="Search...">
            <a ng-click="model.findSeller()" class="btn btn-success searchButton">Search</a>
        </div>
        <div>
            <label class="inputSearch" for="distance">Enter a distance for search</label>
            <input id="distance" type="text" ng-model="model.distance" class="form-control " placeholder="Distance...">
            <a ng-click="model.findForDistance()" class="btn btn-success searchButton">Find</a>
        </div>
    </form>
</div>



<div ng-repeat="user in model.users" class="col-sm-6">
    <div class="media">
        <div class="pull-left">
            <img class="avatar img-circle" src="images/blog/avatar1.png" />
        </div>
        <div class="media-body">
            <div class="well">
                <div class="media-heading"><a href="#/seller/{{user._id}}" class="eachUserInList">{{user.userName}}</a></div>
            </div>
        </div>
    </div>
</div>
